
.header{
    width: 100%;
    height: 6rem;
}
.return-key{
    width: 0.21rem;
    height: 0.35rem;
    text-align: left;
    line-height: 0.35rem;
    position: absolute;
    top: 0.67rem;
    left: 0.32rem;
    z-index: 999;
}
.return-key i{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.35rem;
}
.header-image{
    width: 100%;
    height: 4.47rem;
    position: relative;
}
.header-image img{
    width: 100%;
    height: 100%;
}
.header-box{
    width: 6.21rem;
    height: 2.19rem;
    background: rgb(235,236,238);
    border-radius: 0.2rem;
    margin: 0 auto;
    position: absolute;
    top:3.37rem;
    left: 50%;
    margin-left: -3.15rem;
}
.header-text{
    width: 5.6rem;
    height: 1.8rem;
    margin: 0.19rem auto;
    border: 1px solid #ebecee;
}
.header-text h1{
    width: 2.2rem;
    height: 0.28rem;
    font-size: 0.28rem;
    letter-spacing: 0.01rem;
    margin-bottom: 0.18rem;
    margin-top: 0.05rem;
}
.five-star{
    width: 1.45rem;
    height: 0.2rem;
    line-height: 0.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.1rem;


}
.five-star i{
    font-size: 0.2rem;
    color: rgb(254,218,78);
}
.header .header-box .header-text .cut{
    width: 100%;
    height: 0.2rem;
    margin-bottom: 0.13rem;
}
.header .header-box .header-text .cut span{
    width: 50%;
    height: 100%;
    float: right;
    font-size: 0.16rem;
    color: #121212;
    letter-spacing: 0.015rem;
    line-height: 100%;
}
.header .header-box .header-text .cut .yellow-block{
    width: 0.2rem;
    height: 0.2rem;
    background: rgb(251,222,43);
    font-size: 0.18rem;
    text-align: center;
    line-height: 0.2rem;
    float: left;
}
.header .header-box .header-text .cut .yellow-text{
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 0.08rem;
    font-size: 0.16rem;
    color: #121212;
    line-height: 100%;
    letter-spacing: 0.015rem;
}

/*点菜开始*/
.order-box{
    width: 100%;
    height: 0.45rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #c5c5c5;
}
.order-little{
    width: 0.45rem;
    height: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
}
.order-little .order-text{
    width: 100%;
    height: 0.22rem;
    font-size: 0.22rem;
    color: #121212;
    text-align: center;
    line-height: 0.22rem;
}
.order-little .order-line{
    width: 100%;
    height: 0.04rem;
    text-align: right;
    line-height:0.04rem ;
}
.order-little .order-line .order-line-yellow.active{
    background: #fbde2b;
    z-index: 2;
}
.order-little .order-line .order-line-yellow{
    width: 0.31rem;
    height: 0.03rem;
    background: white;
    margin-left: 0.07rem;
}


.manager{
    width: 100%;
    height: 2.76rem;
    padding-top: 0.1rem;
}
.container{
    width: 7rem;
    height: 100%;
    margin: 0 auto;


}
.manager .container .recommend{
    width: 0.78rem;
    height: 0.18rem;
    font-size: 0.18rem;
    color: #121212;
    text-align: center;
    line-height: 0.18rem;
}
.manager .container .manager-image{
    width: 6.7rem;
    height: 2.3rem;
    margin: 0.19rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.01rem 0.02rem 0.05rem rgba(199,199,198,0.52);
}
.manager .container .manager-image .manager-little{
    display: block;
    width:2.07rem ;
    height: 2.31rem;
    box-shadow: 0.03rem 0.03rem 0.2rem #cfcfcf;
}
.manager .container .manager-image .manager-little .manager-top{
    width: 2.06rem;
    height: 1.53rem;
    background: #000;
}
.manager .container .manager-image .manager-little .manager-top img{
    width: 2.06rem;
    height: 1.53rem;
}
.manager .container .manager-image .manager-little .manager-bottom{
    width: 100%;
    height: 0.73rem;
    border: 1px solid white;
    position: relative;
}
.manager .container .manager-image .manager-little .manager-bottom h1{
    width: 1.5rem;
    height: 0.2rem;
    font-size: 0.2rem;
    line-height: 0.2rem;
    text-align: left;
    color: #121212;
    margin: 0.1rem 0 0.13rem 0.1rem;
}
.manager .container .manager-image .manager-little .manager-bottom p{
    width: 0.8rem;
    height: 0.2rem;
    font-size: 0.2rem;
    line-height: 0.2rem;
    text-align: left;
    color: rgb(249,94,82);
    margin-left: 0.1rem;
    float: left;
}
.manager .container .manager-image .manager-little .manager-bottom span{
    display: block;
    width: 0.32rem;
    height: 0.32rem;
    background: white;
    position: absolute;
    bottom:0.05rem;
    right: 0.1rem;
    text-align: center;
    line-height: 0.32rem;
}
.manager .container .manager-image .manager-little .manager-bottom span i{
    width: 0.32rem;
    height: 0.32rem;
    font-size: 0.32rem;
    color: rgb(255,232,87);
}
/*店家推荐结束*/

/*侧边栏开始*/
.content{
    width: 100%;
    height: 7.91rem;
    margin-bottom: 3.23rem;
    margin-top: 0.06rem;
}
.aside{
    width: 1.92rem;
    height: 7.91rem;
    float: left;
}
.aside ul li{
    width: 1.92rem;
    height: 0.72rem;
    background: rgba(0,0,0,0.8);
    line-height: 0.72rem;
    text-align: center;

}
.aside ul li.active{
    background: white;
    color: black;
}
.aside ul li a{
    width: 100%;
    height: 0.28rem;
    font-size: 0.28rem;
    color: white;
    letter-spacing: 0.04rem;
}
.aside ul li a.active{
    color: #474747;
}
.content .content-right{
    width: 5.58rem;
    height: 7.91rem;
    float: left;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.content .content-right li a{
    display: block;
    width: 5.13rem;
    height: 1.6rem;
    background: white;
    border: 1px solid white;
    box-shadow: 0 0.03rem 0.3rem 0 #cfcfcf;
    border-radius: 0.15rem;
}
.content .content-right a .right-image{
    width: 1.3rem;
    height: 1.3rem;
    margin:0.15rem 0.1rem 0.15rem 0.13rem ;
    float: left;
}
.content .content-right a .right-image img{
    width: 1.3rem;
    height: 1.3rem;
}
.content .content-right a .right-text{
    width:3.5rem ;
    height: 100%;
    float: left;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}
.content .content-right a .right-text p:nth-child(1){
    width: 100%;
    height: 0.24rem;
    font-size: 0.24rem ;
    text-align: left;
    line-height: 0.24rem;
    color: black;
    letter-spacing: 0.01rem;
}
.content .content-right a .right-text p:nth-child(2){
    width: 100%;
    height:0.2rem ;
    font-size: 0.2rem;
    text-align: left;
    line-height: 0.2rem;
    color: #585858;
    letter-spacing: 0.01rem;
}
.content .content-right a .right-text p:nth-child(3){
    width: 100%;
    height: 0.2rem;
    color: #929292;
    font-size: 0.2rem;
    line-height: 0.2rem;
    letter-spacing: 0.01rem;
}
.content .content-right a .right-text .subtract{
    width: 100%;
    height: 0.32rem;
}
.content .content-right a .right-text .subtract p:nth-child(1){
    width: 1.5rem;
    height: 100%;
    font-size: 0.3rem;
    line-height: 0.32rem;
    color: #f95244;
    float: left;
}
.content .content-right a .right-text .subtract .icon-add{
    width: 1rem;
    height: 100%;
    float: right;
}
.content .content-right a .right-text .subtract .icon-add .icon-add-left{
    width: 0.32rem;
    height: 100%;
    float: left;
}
.content .content-right a .right-text .subtract .icon-add .icon-add-left i{
    width: 0.32rem;
    height: 0.32rem;
    font-size: 0.3rem;
    color: rgb(255,232,87);
}
.content .content-right a .right-text .subtract .icon-add .icon-add-middle{
    width: 0.36rem;
    height: 100%;
    float: left;
    font-size: 0.26rem;
    color: #585858;
    text-align: center;
    line-height: 0.32rem;
}
.content .content-right a .right-text .subtract .icon-add .icon-add-right{
    width: 0.32rem;
    height: 100%;
    float: left;
    line-height: 0.32rem;
}
.content .content-right a .right-text .subtract .icon-add .icon-add-right i{
    width: 0.32rem;
    height: 0.32rem;
    font-size: 0.32rem;
    color: rgb(255,232,87);
}

/*最下开始*/
.last{
    width: 5.05rem;
    height: 0.78rem;
    background: #e1e1e1;
    border-radius: 0.4rem;
    margin: 0 auto;
    border: 1px solid #e1e1e1;
    position: fixed;
    bottom: 0;
    right: 0;
}
.last .cart{
    width: 0.56rem;
    height: 0.53rem;
    /*background: red;*/
    margin: 0.12rem 0.22rem 0 0.37rem;
    line-height: 0.41rem;
    text-align: center;
    float: left;

}
.last .cart i{
    font-size: 0.6rem;
    color: #fe2f0d;
    float: left;
    line-height: 0.53rem;
}
.last .money{
    /*background: red;*/
    width: 1.67rem;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.last .money .sum{
    width: 100%;
    height:0.3rem;
    /*background:#5ee09e;*/
    font-size: 0.32rem;
    text-align: left;
    line-height: 0.3rem;
    color: #ff2b19;
    letter-spacing: 0.01rem;
}
.last .need {
    /*background: #c7fcfc;*/
    width: 100%;
    height: 0.17rem;
    font-size: 0.18rem;
    color: #212121;
    letter-spacing: 0.01rem;
    float: left;
    /*margin-top: 0.3rem;*/
    text-align: left;
    line-height: 0.17rem;
}
.last .send {
    width: 1.4rem;
    height: 0.24rem;
    background: #000;
    margin:0.3rem 0.4rem 0 0.4rem;
    float: left;
    font-size: 0.24rem;
    color: #ffffff;
    letter-spacing: 0.01rem;
}
.last .settle-accounts{
    display: block;
    width: 1.42rem;
    height: 100%;
    background-image: linear-gradient( to right,#fe4c1b,#fe300d);
    float: right;
    border-radius: 0 0.4rem 0.4rem 0;
    font-size: 0.25rem;
    text-align: center;
    line-height: 0.78rem;
    letter-spacing: 0.03rem;
    color: white;
}

/*已选购的*/
.selected{
    width: 100%;
    height: 2.36rem;
    background: #f9f5f5;
    box-shadow: 0.03rem 0.03rem 0.3rem #b9b9b9;
    border-radius: 0.2rem;
    position: fixed;
    bottom: 0.78rem;
}
.selected .selected-1{
    width: 100%;
    height: 0.92rem;
    /*background: #aa99c6;*/
    border-bottom: 1px solid #c7c4c4;
}
.selected .selected-1 .selected-1-left{
    width: 0.9rem;
    height: 100%;
    /*background: #fbdc5c;*/
    font-size: 0.2rem;
    text-align: left;
    line-height: 0.92rem;
    letter-spacing: 0.01rem;
    color: #373636;
    margin-left: 0.35rem;
    float: left;
}
.selected .selected-1 .selected-1-right{
    width: 0.28rem;
    height: 100%;
    /*background: #fbdc5c;*/
    float: right;
    margin-right: 0.35rem;
}
.selected .selected-1 .selected-1-right i{
    width: 100%;
    height: 100%;
    font-size: 0.38rem;
    color: #373636;
    line-height: 0.92rem;
}
.selected .selected-2{
    width: 100%;
    height: 0.71rem;
    /*background: #4b98df;*/
    border-bottom: 1px solid #c7c4c4;
}
.selected .selected-2 p:nth-child(1){
    width: 2.2rem;
    height: 100%;
    /*background: #b6db91;*/
    margin-left: 0.35rem;
    text-align: left;
    line-height: 0.71rem;
    letter-spacing: 0.01rem;
    font-size: 0.28rem;
    float: left;
}
.selected .selected-2 p:nth-child(2){
    width: 0.9rem;
    height: 100%;
    /*background: #b6db91;*/
    font-size: 0.24rem;
    text-align: left;
    letter-spacing: 0.01rem;
    line-height: 0.71rem;
    margin-left: 0.58rem;
    float: left;
}
.selected-2 .icon-add {
    width: 1rem;
    height: 100%;
    float: right;
    /*background: #df4665;*/
    margin-right: 0.35rem;
}
.selected-2 .icon-add .icon-add-left,.selected-2 .icon-add .icon-add-right{
    display: block;
    width: 0.32rem;
    height: 100%;
    text-align: center;
    line-height: 0.71rem;
    float: left;
}
.selected-2 .icon-add .icon-add-left i{
    width: 100%;
    height: 100%;
    font-size: 0.3rem;
    color: rgb(255,232,87);
    background: white;
}
.selected-2 .icon-add .icon-add-middle{
    width: 0.36rem;
    height: 100%;
    /*background: #72e18f;*/
    font-size: 0.26rem;
    float: left;
    color: black;
    text-align: center;
    line-height: 0.71rem;
}
.selected-2 .icon-add .icon-add-right i{
    width: 100%;
    height: 100%;
    font-size: 0.32rem;
    color: rgb(255,232,87);
    background: white;
}
